<%= form_with model:@post, local:true do |f| %>
<% f.object.errors.to_a.each do |msg| %>
  <p style="color:red" ><%= msg %></p>
<% end %>
  <div>
  <%= f.label 'Title' %> <br>
  <%= f.text_field :title %>
  </div>
 <div>
  <%= f.label 'Body' %> <br>
  <%= f.text_area :body %>
 </div>
 <div>
 <%= f.submit 'Submit' %>
 </div>
<% end %>